body {
    background-color: hsl(30, 38%, 92%);
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}

img {
    width: 333px;
    border-radius: 5% 0 0 5%;
}

p {
    padding-right: 30px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    font-weight: 100;
}

h1 {
    font-family: 'Fraunces', serif;
    margin-right: 40px;
}

.headding {
    font-size: 14px;
    letter-spacing: 6px;
    color: hsl(228, 12%, 48%);
    font-weight: 100;
}


.attribution {
    position: absolute;
    margin: 100px;


}

.btn {
    margin-top: 20px;
    display: inline-block;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3c8067;
    padding: 10px 70px 10px 70px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #83b3a0;
    text-decoration: none;
}

.description {

    position: absolute;
    float: right;
    margin-left: 22rem;
    margin-top: 1rem;
}

.main {
    position: relative;
    background-color: white;
    height: 500px;
    width: 333px;
    border-radius: 5%;
    margin: 200px auto;
    padding-right: 300px;

}

.price_1 {
    font-family: 'Fraunces', serif;
    display: inline;
    padding-right: 15px;
    color: hsl(158, 36%, 37%);

}

.price_2 {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: hsl(228, 12%, 48%);
    font-weight: 100;

}
